.nav {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #e0dfdc;
  z-index: 999;

  &__list {
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__item {
    text-transform: uppercase;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;

    & > a {
      text-decoration: none;
      color: #2b2b2b;
    }
  }
}
