.design {
  height: 558px;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  justify-content: space-between;
  position: relative;

  &__description {
    z-index: 1;
    margin: 0 auto;
    padding-top: 160px;
    @include laptop {
      margin-right: 5vw;
    }
    @include desktop {
      margin-right: 83px;
    }
  }

  &__image {
    padding-top: 150px;
    @include aboluteCenterLeft;
    top: -70px;
    z-index: 0;
    opacity: 0.2;

    @include laptop {
      position: initial;
      left: 0;
      transform: translate(0, 0);
      opacity: 1;
      padding-left: 10vw;
    }

    @include desktop {
      position: initial;
      left: 0;
      transform: translate(0, 0);
      opacity: 1;
      padding-left: 127px;
    }
  }
}
