.download {
  height: 396px;
  text-align: center;

  @include mobile {
    height: auto;
  }

  &__title {
    color: black;
    padding-top: 91px;
  }

  &__subtitle {
    width: 66%;
    display: inline-block;
    margin-top: 17px;
    text-transform: uppercase;
  }

  &__resource {
    width: 300px;
    height: 56px;
    margin: 0 13px 0 13px;
    @include flexAlignCenter(left);
    position: relative;
    background-color: #1abc9c;
    color: white;
    text-transform: uppercase;
    cursor: pointer;

    @include mobile {
      width: 90vw;
      margin: 15px auto 15px auto;
    }

    & > span {
      padding-left: 15px;
    }

    &:hover .icon {
      transition: all 1s ease-out;
      transform: rotate(360deg);
    }
  }

  &__icon {
    width: 56px;
    height: 56px;
    background: $main--green;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
      font-size: 30px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    @include mobile {
      flex-direction: column;
      padding-bottom: 80px;
    }
  }
}
