.nav {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  position: relative;
  background-color: rgb(37, 37, 37);
  z-index: 999;

  @include laptop {
    display: block;
    background-color: unset;
  }

  @include desktop {
    display: block;
    background-color: unset;
  }

  &__list {
    width: 100%;
    position: absolute;
    top: 85px;

    @include laptop {
      width: unset;
      position: relative;
      top: 0;
      @include flexCenter;
    }

    @include desktop {
      width: unset;
      position: relative;
      top: 0;
      @include flexCenter;
    }
  }

  &__item {
    display: none;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 0 10px 0;
    background-color: rgb(37, 37, 37);
    position: relative;

    &:nth-child(1),
    &:nth-child(4) {
      animation: fromLeftToRight 1s ease-in;

      @include laptop {
        animation: none;
      }
      @include desktop {
        animation: none;
      }
    }
    &:nth-child(2),
    &:nth-child(5) {
      animation: fromRightToLeft 1s ease-in;
      @include laptop {
        animation: none;
      }
      @include desktop {
        animation: none;
      }
    }

    & > a {
      color: white;
    }

    &:nth-child(3) {
      position: absolute;
      top: -85px;
      left: 10vw;
      display: block;
      width: auto;
      background-color: unset;
    }

    @include laptop {
      display: block;
      padding: 0;
      margin: 0 5vw 0 5vw;
      background-color: unset;

      &:nth-child(3) {
        position: relative;
        top: 0;
        left: 0;
      }

      &:hover {
        & > a {
          color: $main--green;
        }
      }
    }

    @include desktop {
      display: block;
      padding: 0;
      margin: 0 5vw 0 5vw;
      background-color: unset;

      &:nth-child(3) {
        position: relative;
        top: 0;
        left: 0;
      }

      &:hover {
        & > a {
          color: $main--green;
        }
      }
    }
  }
}

.show-list {
  display: block;
}

.moved {
  transition: all 0.5s ease-in;
  background-color: rgb(37, 37, 37);
}

.active {
  color: $main--green !important;
}

@keyframes fromLeftToRight {
  from {
    left: 100vw;
    border-radius: 25px;
  }
  to {
    left: 0;
    border-radius: 0;
  }
}

@keyframes fromRightToLeft {
  from {
    right: 100vw;
    border-radius: 25px;
  }
  to {
    right: 0;
    border-radius: 0;
  }
}
