@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/gotham_medium_regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/gotham_medium_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamBook";
  src: url("./assets/fonts/gothambook-webfont.woff2") format("woff2"),
    url("./assets/fonts/gothambook-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/Gotham-Bold.woff2") format("woff2"),
    url("./assets/fonts/Gotham-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
