/* You can add global styles to this file, and also import other style files */

body {
  box-sizing: border-box;
  margin: 0;
}

.movie {
  width: 100%;
  background-color: #585858;
  padding-bottom: 20px;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 1220px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 70px;

    & > li {
      margin-top: 10px;
    }
  }
}

.btn {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: 1px solid white;
  font-size: 14px;
  letter-spacing: 0.5px;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;

  &:hover {
    background-color: #e0dfdc;
    color: black;
  }
}

.favorite {
  background-color: #e0dfdc;
  color: black;

  &:hover {
    opacity: 0.6;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
